<li class="trait-item item" data-item-id="{{id}}">
    <div class="skill-item-row flexrow">
        <div class="identification">
            <div class="flexrow editor-toggle">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor2e.traits.details.tech.alt'}}"/>
                <p>{{name}}</p>
            </div>
        </div>
        <div>
            <p>{{localize system.type.value}}</p>
        </div>
        <div class="actions">
            <a class="item-edit action" title=""{{localize "tor2e.sheet.skill.edit"}}>
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{localize "tor2e.sheet.deleteSkill"}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="editor-container-toggelable">
      <h1>This is where I am</h1>
        {{editor this.system.description.value target="this.system.description.value" button=true editable=false}}
    </div>
</li>
