@import "../variables.less";

.tor2e.sheet.actor.community {

  #journey-log {
    .year {
      background: @tor2e-background-red;
      padding-left: 0.5em;
    }
  }

  .data-row{
    align-items: center;
  }

  input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.1em;
    color: @tor2e-grey;
    background: @tor2e-background-red;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }

  .lbl-toggle:hover {
    color: #8c8c8c;
  }

  .lbl-toggle::after {
    margin-left: 0.5em;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 400;
    content: "\f151";
    display: inline-block;
    vertical-align: middle;
    margin-right: .7rem;
    transition: transform .2s ease-out;
  }

  .collapsible-content .content-inner {
    background: rgba(165, 165, 165, .2);
    border-bottom: 1px solid rgba(179, 179, 179, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .2em .5em;
  }

  .collapsible-content {
    max-height: 0;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
  }

  .year-toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }

  .year-toggle:checked + .lbl-toggle::after {
    margin-left: 0.5em;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 400;
    content: "\F150";
  }

  .year-toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

}